<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Tarefa</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/style.css"  />
</head>
<body>

    <h1>Cadastro/Edição de Tarefa</h1>
    <form th:action="@{/tarefas/salvar}" th:object="${task}" method="post">

        <input type="hidden" th:field="*{id}" />

        <div class="mb-3">
            <label for="title" class="form-label">Nome da Tarefa</label>
            <input type="text" class="form-control" id="title" th:field="*{title}" required>
        </div>

        <div class="mb-3">
            <label for="dueDate" class="form-label">Data entrega: </label>
            <input type="date" class="form-control" id="dueDate" aria-describedby="datalHelp" th:field="*{dueDate}" required>
        </div>

        <div class="mb-3">
            <label for="assignedTo" class="form-label">Responsável: </label>
            <input type="text" class="form-control" id="assignedTo" aria-describedby="responsavellHelp" th:field="*{assignedTo}">
        </div>

        <button type="submit" class="btn btn-primary">Salvar Tarefa</button>
    </form>

    <br/>
    <a th:href="@{/tarefas/lista}">Voltar para a Lista</a>
    <div >&copy; 2024 modelo estático</div>

</body>
</html>