<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Gerenciador de Tarefas</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../../css/style.css" />
</head>

<body>

	<h1>Lista de Tarefas</h1>

	<table>
		<thead>
			<tr>
				<th>Identificação da Tarefa</th>
				<th>Nome da Tarefa</th>
				<th>Data entrega</th>
				<th>Responsável</th>
				<th>Ações</th> </tr>
		</thead>
		<tbody>
			<tr th:each="task : ${tasks}" >
				<td th:text="${task.id}">1</td>
				<td th:text="${task.title}" >Criação de conteúdo</td>
				<td th:text="${task.dueDate}" >15/08/2024</td>
				<td th:text="${task.assignedTo}">Viviane</td>
				<td>
				    <a class="btn btn-info btn-sm" th:href="@{/tarefas/editar/{id}(id=${task.id})}" role="button">
						<span class="oi oi-brush" title="Editar" aria-hidden="true">Editar</span>
				    </a>
                    <a class="btn btn-info btn-sm" th:href="@{/tarefas/excluir/{id}(id=${task.id})}" role="button">
						<span class="oi oi-brush" title="Excluir" aria-hidden="true">Excluir</span>
				    </a>
                </td>
			</tr>
            <tr th:if="${#lists.isEmpty(tasks)}">
                <td colspan="5">Nenhuma tarefa cadastrada ainda.</td>
            </tr>
		</tbody>
	</table>

	<p>
		<a href="../">Return to home</a>
	</p>

	<div >&copy; 2024 modelo estático</div>

</body>

</html>