<!DOCTYPE html>
<html>

  <head>
    <title>Gerenciador de Tarefas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/style.css"  />
  </head>

  <body>

    <div>
      <img src="../../images/logo.png" alt="logo" title="logo" />
    </div>
  
       
    <p>Por favor Selecione uma opção</p>
    <ol>
      <li><a href="tarefas/lista" >tarefas</a></li>         
    </ol>
      
    <p>Agora você está vendo um arquivo de modelo de aplicativo da web funcional.</p>
  
    <div >&copy; 2024 modelo estático</div>
   </body>
   </html>